/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* Typography
================================================== */

body {
  font: normal 100% "proxima-nova", "helvetica", "arial", sans-serif;
  background-color: #363d45;
}

p {
	font-size: 1.125em;		/* 18px / 16px = 1.125 */
	line-height: 1.4;
	margin-bottom: 1rem;
}

code, pre {
	font-family: "consolas," "courier", monospace;
	font-size: 1.125em;
	line-height: 1.4;
	margin-bottom: 1rem;
}


h1, h2, h3, h4, h5, h6 {
	font-family: "proxima-nova", "helvetica", "arial", sans-serif;
	font-weight: 100;
	margin-bottom: .5rem;
}

h1 {
	margin-bottom: 1.5rem;
}

h1 {font-size: 4rem;}
h2 {font-size: 2rem;}
h3 {font-size: 1.5rem; font-weight: 300;}
h4 {font-size: 1.25rem;}
h5 {font-size: 1rem;}
h6 {font-size: .75rem;}


.footer .omega p {
	text-align: right;
}

/* Responsive navigation (adapted from here: http://codepen.io/bradfrost/pen/sHvaz)
================================================== */

.header h2 {
	width: 40%;
	float: left;
	background-color: #fff;
}


nav#menu ul {
	font-size: 1.2rem;
	float: right;
	font-weight: 300;
	list-style-type: none;
	position: relative;
}

a.menu-link {
    float: right;
    display: block;
    padding: 0.5rem;
}

nav[role=navigation] {
	clear: both;
	-webkit-transition: all 0.3s ease-out;  
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.js nav[role=navigation] {
	overflow: hidden;
	max-height: 0;
}
nav[role=navigation].active {
	max-height: 15em;
	background-color: #333;
}
nav[role=navigation] ul {
	margin: 0;
	padding: 0;
	border-top: 1px solid #808080;
}
nav[role=navigation] li a {
	text-align: left;
	display: block;
	padding: 0.5rem;
	border-bottom: 1px solid #808080;
}

@media screen and (max-width: 767px) {
	nav[role=navigation] ul {
		width: 100%;
	}
}

@media screen and (min-width: 768px) {
	a.menu-link {
	   display: none;
	}
	.js nav[role=navigation] {
		max-height: none;
	}
	
	nav[role=navigation] {
		clear: none;
	}
	
	nav[role=navigation] ul {
		margin: 0 0 0 -0.25em;
		border: 0;
	}
	
	nav[role=navigation]  li {
		display: inline-block;
		margin: 0 0.25em;
	}
	nav[role=navigation] li a {
		border: 0;
	}
}




/* #Lists
================================================== */

ul, ol { margin-bottom: 1.5rem; }
ul { list-style: disc inside; }
ol { list-style: decimal inside; }

.post ul {text-indent: -1em; padding-left: 1em; font-size: 1.15em; line-height: 1.4; }
ul#postlist {font-size: 1.5rem; font-weight: 300;}

/*----------- Page Layout: General -----------*/

/*
* color notes:
* Footer slate grey: #363D45
* Complimentary light blue: #4C9CB7
* Complimentary gold: #FFAC37
* additional colors TBD
*/

#top {
	background-color: #fff;
	padding-top: 1rem;
}

#middle {
	background-color: #fff;
}

#bottom {
	background-color: #363d45;
	padding-top: 1rem;
	color: #fff;
}


/*--- Link styles --*/

a:link, a:visited, a:hover, a:active {
	color: #3b689b;
	text-decoration: none;
}


/* #Page Styles
================================================== */

/* Project grid first/last child rule 
   This handles our first and last element in each row of the grid
   This rule is based on a 3-column grid */
   
/* left column */
#projectgrid div:nth-of-type(1), #projectgrid div:nth-of-type(4),
#projectgrid div:nth-of-type(7), #projectgrid div:nth-of-type(10),
#projectgrid div:nth-of-type(13), #projectgrid div:nth-of-type(16) {
	margin-left: 0px;
}

/* right column */
#projectgrid div:nth-of-type(3), #projectgrid div:nth-of-type(6),
#projectgrid div:nth-of-type(9), #projectgrid div:nth-of-type(12),
#projectgrid div:nth-of-type(15), #projectgrid div:nth-of-type(18) {
	margin-right: 0px;
}

#projectgrid div.column {
	margin-bottom: 1rem;
}

#projectgrid img {width: 100%;}


/* #Project Pages
================================================== */

#project h1 {
	margin-bottom: 0px;
}

#project div.row {
	margin-bottom: 10px;
}

#post_meta ul {
	list-style-type: none;
	border-top: solid 1px #ccc;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1rem;
	text-indent: 0em;
	padding-left: 0em;
}

#post_meta ul li {
	border-bottom: solid 1px #ccc;
	padding: .5em 0;
}

.description p {
	font-size: 1.1rem;
}


/* div.gallery img { max-width: 100%;} */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		h1 {
			font-size: 2.5rem;
		}
		.description p {
			font-size: 1rem;
		}
		.footer .omega p {
			text-align: left;
		}


		
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/