<!DOCTYPE html>
<html lang="en-US">
<head>
<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<title>Eric Gardner | Graphic Design</title>
<meta name="description" content="Eric Gardner: Graphic Design Portfolio">
<meta name="author" content="Eric Gardner">

<!-- Typekit
================================================== -->
<script type="text/javascript" src="//use.typekit.net/lwu8jdu.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width,initial-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" type="text/css" href="/assets/css/main.css">

<!-- JS
================================================== --> 
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/js/jquery-1.11.0.min.js">\x3C/script>')</script>
{% if page.gallery %}
	<!-- load flexslider components -->
	<link rel="stylesheet" href="/assets/css/flexslider.css" type="text/css">
	<script type="text/javascript" src="/assets/js/jquery.flexslider.js"></script>	
{% endif %}


</head>
<body {%if page.parallax %} class="loading" {% endif %}>
<header id="page-header">
	<div class="container">
		<div class="sixteen columns">
			<h1><a href="/">ericgardner.info</a></h1>
			<a href="#menu" class="menu-link">Menu</a>
			<nav id="menu" role="navigation">
				<ul>
					<li><a href="/">Design</a></li>
					<li><a href="/photography/">Photography</a></li>
					<li><a href="/writing/">Writing</a></li>
					<li><a href="/about/">About</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
{{ content }}

<script type="text/javascript" src="/assets/skrollr.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>
</body>
</html>
