---
layout: default
---
<section id="photoessay">
	<div class="container">
		<!-- full-width title -->
		<div class="sixteen columns row">
			<h2>{{ page.title }}</h2>
		</div>
	</div>
	<!-- begin photo essay -->
	<main>
	
		{% for slides in page.parallax %}
			<section class="slide">
	        		<div 
	        		class="slide-background" 
	        		style="background-image:url('{{ slides.image }}')" 
	        		data-200-bottom="opacity:1.0;" 
	        		data-500-bottom="opacity:0.1;">
		        		<div class="slide-container">
			    			<div class="slide-content">
				    			<h3>Slide 1</h3>
				    		</div>
				    	</div>
				</div>
			</section>
		{% endfor %}
	
	
	</main>
	<!-- end photo essay -->
</section>