---
layout: default
---
<section id="project">
	<div class="container">
		<!-- full-width title -->
		<div class="sixteen columns row">
			<h2>{{ page.title }}</h2>
		</div>
	</div>
	<!-- begin photo essay -->
	<div id="preload">
		{% if page.parallax %}
			{% for slides in page.parallax %}
				<img src="{{ slides.image }}" />
			{% endfor %}
		{% endif %}
	</div>
	<main id="skrollr-body">
	
		{% for slides in page.parallax %}
			<section class="homeSlide">
	        		<div class="bcg" style="background-image:url('{{ slides.image }}')">
		        		<div class="hsContainer">
			    			<div class="hsContent">
				    			<h2>Slide 1</h2>
				    		</div>
				    	</div>
				</div>
			</section>
		{% endfor %}
	
	
	</main>
	<!-- end photo essay -->
</section>