---
layout: default
---
<section id="project">
	<!-- begin project images -->
	<div class="grid">
		<div class="row">
			<section class="gallery">
				{% if page.gallery %}
				<div class="flexslider loading">
					<ul class="slides">
						{% for slides in page.gallery %}
						<li>
							<img src="{{ slides.image }}" />
						</li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
			</section>
		</div>
	</div>
	<!-- end project images -->
	<!-- project content -->
	<div class="grid">
		<section class="description">
			<!-- left column: project description -->
			<div class="col-2-3">
				<h2>{{ page.title }}</h2>
				{{ content }}
			</div>
			<!-- end project description -->
			<!-- right column: project meta -->
			<div class="col-1-3">
				<aside class="meta">
					<ul>
						<li>Client: {{ page.client }}</li>
						<li>Year: {{ page.year }}</li>
						<li>Role: {{ page.role }}</li>
					</ul>
				</aside>
			</div>
		</section>
	</div>
		<!-- end project meta -->
</section>
